[General]
device = cuda
dtype = float
threads = 64
out_dir = /root/data/DIA-CLIP-output-2.0/

[Preprocess]
diann_dir = ./scripts/diann-2.0/
library_path = /root/DIA-CLIP/Datasets/infer_data/lib/humanlib.parquet
mzml_path = /root/DIA-CLIP/Datasets/infer_data/ms/Fig2HeLa-0-5h_MHRM_R01_T0.mzML

[Database]
batch_size = 2048

[Infer]
checkpoint_path = /root/DIA-CLIP/Outputs/DIA-CLIP-train-diann2.0-ddp/diann2_d512_layer4_v3data_modfix/checkpoints/train/epoch_49_model.pt
fdr = 0.01
quant_topk = 6

[Model]
rt_dim = 12
ion_num = 10
hidden_layer = 1024
d_model = 512
n_head = 64
dropout = 0.15
max_mz_range = 2500
bin_size = 2500
max_charge = 10
max_modification = 16
peptide_encoding_layer_num = 4
precursor_encoding_layer_num = 4
fragment_encoding_layer_num = 4
cross_encoding_layer_num = 4
chrom_encoding_layer_num = 4
mz_bin_layer_num = 4
decoding_layer_num = 4
feature_diff = False
model_peptide = trans
model_init = True
